#container {
    &.main {
        .campaign {
            width: 100%;
            > article {
                height: 100vh;
                @include flexLayout(column, center, flex-start);
                h2 {
                    background: linear-gradient(to bottom, #fff 40%, #444 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    line-height: 1;
                    font-size: 90px;
                    font-weight: 700;
                    text-transform: uppercase;
                    opacity: 0;
                    animation: fadeInUp 1.2s forwards;
                }
                p {
                    color: #888;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 20px;
                    opacity: 0;
                    animation: fadeInUp 1.2s 0.4s forwards;
                }
            }
            background: radial-gradient(circle at 70% 30%, rgba(0, 212, 255, 0.08) 0%, transparent 50%);
        }
        .career {
            > article {
                @include gridLayout(3, 50px, 10px);
                dl {
                    @include flexLayout(row, flex-start, stretch);
                    gap: 20px;
                    dt {
                        font-size: 16px;
                        font-weight: 500;
                        @include flexLayout(column, flex-start, stretch);
                        color: #00d4ff;
                        padding-left: 20px;
                        position: relative;
                        i {
                            width: 100%;
                            text-align: center;
                            transform: rotate(90deg);
                        }
                        &::before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            border: 2px solid #00d4ff;
                            border-radius: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    dd {
                        @include flexLayout(column, flex-start, stretch);
                        gap: 15px;
                        > p {
                            color: #23d1fa;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        ul {
                            @include flexLayout(column, flex-start, stretch);
                            gap: 10px;
                            li {
                                color: #f8f8fb;
                                position: relative;
                                padding-left: 10px;
                                line-height: 1.2;
                                &::before {
                                    content: '';
                                    width: 3px;
                                    height: 3px;
                                    border-radius: 100%;
                                    background-color: #f8f8fb;
                                    position: absolute;
                                    left: 0;
                                    top: 5px;
                                }
                                &:nth-child(even) {
                                    color: #b3b3b3;
                                    &::before {
                                        background-color: #fff;
                                    }
                                }
                                &.img {
                                    img {
                                        width: 240px;
                                    }
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .skill {
            position: relative;
            overflow: hidden;
            > article {
                @include flexLayout(row, center, center);
                flex-wrap: wrap;
                gap: 20px;
                padding: 80px 0;
                position: relative;
                z-index: 2;
            }
            p {
                border: 1px solid #333;
                transition: 0.4s;
                border-radius: 50px;
                padding: 12px 28px;
                backdrop-filter: blur(15px);
                &.on {
                    border-color: #00d4ff;
                    color: #00d4ff;
                    box-shadow: 0 0 20px rgba(0, 212, 255, 0.2);
                }
            }
            .bg_text {
                width: 100%;
                text-align: center;
                @include positionLayout(absolute, center);
                z-index: 1;
                font-size: 220px;
                opacity: 0.04;
                font-weight: 700;
            }
        }
        .works {
            padding: 0 20px;
            margin: 100px 0;
            h2 {
                &.tit {
                    font-size: 28px;
                    color: #5d5b55;
                    i {
                        font-size: 34px;
                    }
                }
            }
            .list {
                @include gridLayout(2, 40px, 40px);
                margin-top: 40px;
                > dl {
                    @include flexLayout(column, center, center);
                    border-radius: 20px;
                    overflow: hidden;
                    transition: all 0.5s ease;
                    border: 1px solid rgba(255, 255, 255, 0.03);
                    &:hover {
                        border-color: rgba(0, 212, 255, 0.4);
                        transform: translateY(-15px);
                        box-shadow: 0 0 20px rgba(0, 212, 255, 0.2);
                    }
                    dt {
                        width: 100%;
                        height: 280px;
                        background-color: #222;
                        overflow: hidden;
                        > img {
                            width: 100%;
                        }
                    }
                    dd {
                        width: 100%;
                        background-color: #1a1a1a;
                        padding: 30px;
                        ul {
                            @include flexLayout(column, flex-start, stretch);
                            gap: 15px;
                            .prj_name {
                                font-size: 24px;
                                color: #fff;
                                font-weight: 500;
                                @include flexLayout(row, flex-start, center);
                                gap: 10px;
                                > span {
                                    font-size: 18px;
                                    color: #5d5b55;
                                }
                            }
                            .used {
                                margin-bottom: 15px;
                                @include flexLayout(row, flex-start, center);
                                gap: 10px;
                                i {
                                    @include flexLayout(row, flex-start, center);
                                    color: #888;
                                    font-size: 16px;
                                    font-weight: 700;
                                    padding-left: 18px;
                                    background-repeat: no-repeat;
                                    background-size: auto 16px;
                                    background-position: left center;
                                    &.text {
                                        padding-left: 0;
                                    }
                                    &.css {
                                        background-image: url(../images/career/icon/css.svg);
                                    }
                                    &.html {
                                        background-image: url(../images/career/icon/html.svg);
                                    }
                                    &.jquery {
                                        background-image: url(../images/career/icon/jquery.svg);
                                    }
                                    &.xe {
                                        background-image: url(../images/career/icon/xpressengine.svg);
                                    }
                                    &.scss {
                                        background-image: url(../images/career/icon/scss.svg);
                                    }
                                    &.vue {
                                        background-image: url(../images/career/icon/vue.svg);
                                    }
                                    &.react {
                                        background-image: url(../images/career/icon/react.svg);
                                    }
                                    &.responsive {
                                        background-image: url(../images/career/icon/phone.svg);
                                    }
                                    &.git {
                                        background-image: url(../images/career/icon/git.svg);
                                    }
                                    &.jsp {
                                        background-image: url(../images/career/icon/jsp.svg);
                                    }
                                    &.svn {
                                        background-image: url(../images/career/icon/svn.svg);
                                    }
                                }
                            }
                            .link {
                                @include flexLayout(row, flex-start, center);
                                gap: 5px;
                                > a {
                                    padding: 10px 20px;
                                    border-radius: 12px;
                                    border: 1px solid rgba(0, 212, 255, 0.3);
                                    color: #00d4ff;
                                    text-decoration: none;
                                    font-size: 0.85rem;
                                    font-weight: 700;
                                    transition: 0.3s;
                                    @include flexLayout(row, flex-start, center);
                                    gap: 5px;
                                    &::before {
                                        content: '';
                                        width: 16px;
                                        height: 16px;
                                        mask-size: 16px 16px;
                                        background-color: #00d4ff;
                                    }
                                    &:hover {
                                        background: #00d4ff;
                                        color: #000;
                                        box-shadow: 0 0 15px rgba(0, 212, 255, 0.4);
                                        &::before {
                                            background-color: #000;
                                        }
                                    }
                                    &.site {
                                        &::before {
                                            mask-image: url(../images/career/icon/web.svg);
                                        }
                                    }
                                    &.git {
                                        &::before {
                                            mask-image: url(../images/career/icon/git.svg);
                                        }
                                    }
                                    &.code {
                                        &::before {
                                            mask-image: url(../images/career/icon/code.svg);
                                        }
                                    }
                                }
                            }
                            .detail {
                                @include flexLayout(row, flex-start, center);
                                gap: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}