header{
    width: 100%;
    border-bottom: 1px solid #24282b;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(15px);
    z-index: 100;
    transition: all 0.5s ease;
    > article {
        height: 75px;
        @include mediaQuery(mobile) {
            height: auto;
            padding: 2.4rem 1.5rem;
        }
        @include flexLayout(row, space-between, center);
        > h1 {
            a {
                @include flexLayout(row, flex-start, center);
                gap: 5px;
                font-size: 16px;
                color: #00d4ff;
                > img {
                    height: 25px;
                    @include mediaQuery(mobile) {
                        height: 5rem;
                    }
                }
                @include mediaQuery(mobile){
                    i {
                        display: none;
                    }
                }
            }
        }
        nav {
            ul {
                @include flexLayout(row, flex-start, center);
                gap: 25px;
                @include mediaQuery(mobile) {
                    gap: 2rem;
                }
                li {
                    a {
                        font-size: 16px;
                        color: #f8f8fb;
                        font-weight: 700;
                        &:hover {
                            color: #00d4ff;
                        }
                        @include mediaQuery(mobile) {
                            font-size: 2.6rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    &.mobile {
        &.move {
            top: -100%;
        }
    }
}
.bottom_nav {
    display: none;
    @include mediaQuery(mobile) {
        display: block;
        width: 100%;
        background: rgba(15, 15, 15, 0.7);
        backdrop-filter: blur(15px);
        z-index: 100;
        transition: all 0.5s ease;
        position: fixed;
        left: 0;
        bottom: -100%;
        ul {
            padding: 0 1.5rem;
            @include flexLayout(row, space-around, center);
            li {
                img {
                    height: 5rem;
                }
                a {
                    font-size: 2.4rem;
                    padding: 3rem 1rem;
                    display: block;
                    font-weight: 500;
                }
            }
        }
        &.move {
            bottom: 0;
        }
    }
}