header{
    width: 100%;
    border-bottom: 1px solid #24282b;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(15px);
    z-index: 100;
    > article {
        height: 75px;
        @include flexLayout(row, space-between, center);
        > h1 {
            a {
                @include flexLayout(row, flex-start, center);
                gap: 5px;
                font-size: 16px;
                color: #00d4ff;
                > img {
                    height: 25px;
                }
            }
        }
        nav {
            ul {
                @include flexLayout(row, flex-start, center);
                gap: 25px;
                li {
                    a {
                        font-size: 16px;
                        color: #f8f8fb;
                        font-weight: 700;
                        &:hover {
                            color: #00d4ff;
                        }
                    }
                }
            }
        }
    }
}