$pramary-font-face: 'Pretendard', Sans-serif;
$pramary-font-color: #f8f8fb;
$pramary-font-size: 14px;
$pramary-font-weight: 400;
$pramary-bg-color: #0f0f0f;
$screen-mobile: 780px;
$screen-tablet: 1024px;